body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("Pokeball.png");
    flex-wrap: wrap;
}

h1{
    color: green;
}

.BattleArena{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.BattleArena > div{
    border: 20px  darkslategrey;
    box-shadow: 10px 10px 5px black; 
    font-size: 45;
  margin-left: 20vw;
  margin-right: 20vw;
    margin-top: 10px;
    background: white;
}
