body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("Pokeball.png");
    flex-wrap: wrap;
    text-shadow: 2px 2px white;
}

h1{
    color: green;
    text-shadow: 2px 2px white;
}

.BattleArena{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.BattleArena > div{
    font-size: 30;
    padding: 12vw;
}
